.lop{
    background-color: #2F303A;
}
.ton{
    background-color: #F5F4FA;
    font-size: 36px;
    text-align: center;
}
.rop{
    background-color: #FFFFFF;
}
body{
    font-family: "Roboto";
    text-decoration: none;
    text-transform: none;
}
.font{
    font-family: "Raleway ";
    font-size: 26px;
}
.kol{
    font-size: 44px;
}
h2{
    text-align: center;
    font-size: 36px;
    
}